.spinner {
  border: 8px solid #f3f3f3; /* Color del fondo del spinner */
  border-top: 8px solid #3498db; /* Color de la parte superior */
  border-radius: 50%; /* Hace que sea un círculo */
  width: 50px; /* Ancho del spinner */
  height: 50px; /* Alto del spinner */
  animation: spin 1s linear infinite; /* Animación giratoria */

  /* Centrar el spinner en su contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animación del spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Comienza sin rotación */
  }
  100% {
    transform: rotate(360deg); /* Gira completamente */
  }
}